{% extends "layout.html" %} {% block title %} {{chapter['chapter_title']}} {%
endblock %} {% block content %}
<div class="nav">
  <a href="/">返回首页</a>
</div>
<div class="comic-hint">
  共<span class="page_count">{{chapter['page_count']}}</span>页
</div>
<div class="image-list">
  {% for i in range(chapter['page_count']) %}
  <div
    class="image-item"
    data-src="../{{chapter['comic_id']}}/{{chapter['chapter_id']}}/{{i}}.png"
  >
    <button>点击加载图片</button>
  </div>
  {% endfor %}
</div>
<script src="/log.js?id={{chapter['id']}}"></script>
<script src="/js/chapter.js"></script>
{% endblock %}
